<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      textarea {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        font-family: monospace;
        font-size: 1.2em;
        width: 100%;
        -webkit-appearance: none;
        margin: 0;
        padding: 15px;
        padding-top: 70px;
        outline: none;
        border: none;
        resize: none;
        box-sizing: border-box;
      }
      .buttons {
        position: absolute;
        top: 0;
        width: 100%;
      }
      button {
        background: green;
        color: white;
        font-size: 18px;
        padding: 5px 20px;
        border: 0;
      }
    </style>
  </head>
  <body>
    <textarea id="t" autofocus placeholder="Start typing..."><%- body %></textarea>
    <div class="buttons">
      <button onclick="location.href = '/'">New</button>
      <button id="s">Save milestone</button>
      <span class="log"></span>
    </div>
    <script src="/public/jquery.js"></script>
    <script src="/public/underscore.js"></script>
    <script src="/public/main.js"></script>
  </body>
</html>