<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      body {
        max-width: 800px;
        margin: 0 auto;
      }
      body > textarea {
        width: 100%;
        min-height: 400px;
      }
      body > div {
        text-align: center;;
      }
      button {
        background: green;
        color: white;
        font-size: 18px;
        padding: 5px 20px;
        border: 0;
      }
    </style>
  </head>
  <body>
    <textarea id="t"><%- body %></textarea>
    <div>
      <button onclick="location.href = '/'">New</button>
      <button id="s">Save</button>
    </div>
    <div class="log"></div>
    <script src="/public/jquery.js"></script>
    <script src="/public/underscore.js"></script>
    <script src="/public/main.js"></script>
  </body>
</html>